---
import rssFeeds from "../data/rssFeed"

const feed = rssFeeds;
---

<nav>
  <ul>
    {feed.map((item) => (
      <li><a href={item.ruta}>{item.nombre}</a></li>
    ))}
  </ul>
</nav>



<style>
  nav {
    border-bottom: solid 1px #333;
  }
  a {
    text-decoration: none;
    font-weight: bold; 
    color: #333; 
    transition: color 0.3s ease; 
  }
  a:hover {
    color: #007BFF; 
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0; 
  }
  li {
    margin: 0 10px;
  }
</style>
